<div class="animate-fade-in-up font-['Inter',sans-serif] bg-[#F8FAFC] min-h-screen p-6 space-y-8">
    <header class="mb-6">
        <h1 class="font-black text-3xl text-slate-800 uppercase tracking-tighter mb-1">Historique des Virements</h1>
        <p class="font-medium text-base text-slate-500">Suivi des liquidations traitées par l'établissement.</p>
    </header>

    <!-- Main Table Card -->
    <div class="bg-white rounded-[2.5rem] border border-slate-100 shadow-sm overflow-hidden">
        <p-table [value]="processedStudents()" [rows]="10" [paginator]="true" [loading]="isLoading()" styleClass="p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="studentTrackingId">Référence <p-sortIcon field="studentTrackingId"></p-sortIcon></th>
                    <th pSortableColumn="nom">Bénéficiaire <p-sortIcon field="nom"></p-sortIcon></th>
                    <th pSortableColumn="resteAPayer" class="text-right">Montant <p-sortIcon field="resteAPayer"></p-sortIcon></th>
                    <th class="text-center">Canal</th>
                    <th>Date Traitement</th>
                    <th class="text-right">Statut</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-s>
                <tr>
                    <td class="px-8 py-4 font-mono text-xs text-slate-400 uppercase">#VIR-{{ s.studentTrackingId.substring(0,6) }}</td>
                    <td class="px-8 py-4">
                        <span class="font-bold text-slate-700 text-sm">{{ s.prenom }} {{ s.nom }}</span>
                    </td>
                    <td class="px-8 py-4 text-right font-black text-slate-800 text-sm">{{ s.resteAPayer | number }} F</td>
                    <td class="px-8 py-4 text-center">
                        <span class="bg-slate-100 text-slate-500 px-3 py-1 rounded-lg text-[9px] font-black uppercase">COMPTE BANCAIRE</span>
                    </td>
                    <td class="px-8 py-4 text-xs font-medium text-slate-400 italic">---</td>
                    <td class="px-8 py-4 text-right">
                        <p-tag value="EXÉCUTÉ" severity="success" styleClass="text-[9px] font-black"></p-tag>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr><td colspan="6" class="p-20 text-center text-slate-400 italic">Aucun virement enregistré dans l'historique</td></tr>
            </ng-template>
        </p-table>
    </div>
</div>
